<div class="row billForm">
  <ul class="errors">
  </ul>
  <form class="col-md-offset-4" role="form">
    <div class="form-group">
      <label>Bill Name
        <input
          class="form-control"
          type="text"
          name="title"
          value="<%=bill.escape("title")%>"
        >
      </label>
    </div>
    <div class="type_buttons">
      <div>Select from some common types or just type in your own</div><br>
      <div>
        <button type="button" class="Electricity btn btn-default" value="Electricity"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439681028/icons/electricity_power_charge_full-512.png"></img></button>
        <button type="button" class="Water btn btn-default" value="Water"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439680985/icons/water.png"></img></button>
        <button type="button" class="Gas btn btn-default" value="Gas"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439680980/icons/256x256-black-white-android-gas-industry.png"></img></button>
        <button type="button" class="Internet btn btn-default" value="Internet"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439680974/icons/internet.png"></img></button>
        <button type="button" class="Food btn btn-default" value="Food"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439680970/icons/food-512.png"></img></button>
        <button type="button" class="Rent btn btn-default" value="Rent"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439691747/icons/house.png"></img></button>
        <button type="button" class="Beer btn btn-default" value="Beer"><img src="http://res.cloudinary.com/bill-organizer/image/upload/v1439680965/icons/beermugicon.png"></img></button>
</div><br>
    </div>
    <div class="form-group">
      <label>Bill Type
        <input
          class="form-control bill_type"
          type="text"
          name="bill_type"
          placeholder="Electricity"
          value="<%=bill.escape("bill_type")%>"
        >
      </label>
    </div>
    <div class="form-group">
      <label>Amount
        <input
          class="form-control"
          type="text"
          name="amount"
          value="<%=bill.escape("amount")%>"
        >
      </label>
    </div>
    <div class="period">
    This bill is for the period
    </div>
    <div class="form-group">
      <label> From:
        <input
        class="form-control"
        type="date"
        name="from_date"
        value="<%=bill.escape("from_date")%>"
        >
      </label>
    </div>
    <div class="form-group">
      <label> End:
        <input
          class="form-control"
          type="date"
          name="end_date"
          value="<%=bill.escape("end_date")%>"
        >
      </label>
    </div>
    <div class="form-group">
      <input
        class="btn btn-success"
        type="submit"
        value="<%=formType%> a bill!"
      >
    </div>
  </form>
</div>
