<div class="billShowContainer group">
  <div class="billShowTitle pull-left"><%= bill.escape("title") %></div>
  <button class="editBill pull-left btn-group btn-group-sm glyphicon glyphicon-pencil"
          type=button></button>
  <button
    class="deleteBill btn btn-danger pull-left btn-group btn-group-sm glyphicon glyphicon-remove-sign"
          type=button></button>
<div class="billDetails">
  <h2>Bill Details: </h2>
  <table>
    <tr>
      <th>Type:</th>
      <td><%= bill.escape("bill_type") %> </td>
    </tr>
    <tr>
      <th>Amount:</th>
      <td><%= bill.escape("amount") %> </td>
    </tr>
    <tr>
      <th>From:</th>
      <td><%= bill.escape("from_date") %> </td>
    </tr>
    <tr>
      <th>To:</th>
      <td><%= bill.escape("end_date") %></td>
    <tr>
      <th>Updated at:</th>
      <td><%= date %> </td>
    </tr>
  </table>
</div>
</div>
<div class="roommateShowContainer group">
  <div class="roommateContainer group"></div>
  <div class="roommateForm" group "></div>
</div>
