<div class="billShowContainer group">
  <div class="billShowTitle pull-left"><%= bill.escape("title") %></div>
  <button class="editBill pull-left btn-group btn-group-sm glyphicon glyphicon-pencil"
          type=button></button>
  <button class="deleteBill btn btn-danger pull-left btn-group btn-group-sm glyphicon glyphicon-remove-sign"
          type=button></button>
</div>
<br>
<ul class="billDetails"> Bill Details:
  <li>Type: <%= bill.escape("bill_type") %> </li>
  <li>Amount: <%= bill.escape("amount") %> </li>
  <li>From: <%= bill.escape("from_date") %> </li>
  <li>To: <%= bill.escape("end_date") %> </li>
  <li> Updated at: <%= date %> </li>
</ul>
