<button
  class="killRoommate close" title="Delete this person!">&times;
</button>
<button
  class="editRoommate pull-left btn-group btn-group-sm glyphicon glyphicon-pencil"
  type=button
  title="Edit Roommate!">
</button>
<div class="paidBox pull-left"> Owes $<%=owedAmount%> :  Paid?
    <input type="checkbox" <%=checked%> >
<div>
<div class="roommateAttrs">
  <li> Email: <%= roommate.escape("email") %></li>
  <li>
    <%= roommate.escape("from_date") %>
    ->
    <%= roommate.escape("end_date") %>

    (  <%= days %> relevant days )
  </li>
</div>
